/* Windows styles */

QGroupBox {
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 1ex;
    padding: 1ex 0px 0px 0px;
    font-size: 11px;
    font-weight: bold;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 7px;
    top: -1ex;
    padding: 0px 3px;
}
