Source: openpilot
Section: unknown
Priority: optional
Maintainer: James Duley <jagduley@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.openpilot.org
Vcs-Git: git://git.openpilot.org/OpenPilot.git
Vcs-Browser: http://git.openpilot.org/changelog/OpenPilot

Package: openpilot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenPilot GCS
 OpenPilot Ground Control Station software
