Source: <NAME>
Section: electronics
Priority: optional
Maintainer: James Duley <james@openpilot.org>
Build-Depends: debhelper (>= 9), libudev-dev, libusb-1.0-0-dev, libsdl1.2-dev, python, gcc-arm-none-eabi (>=4.9), qt5-default, qttools5-dev-tools, libqt5svg5-dev, qtdeclarative5-dev, qml-module-qtquick-controls, libqt5serialport5-dev, qtmultimedia5-dev, qtscript5-dev, libqt5opengl5-dev
Standards-Version: 3.9.5
Homepage: http://www.openpilot.org
Vcs-Git: git://git.openpilot.org/OpenPilot.git
Vcs-Browser: http://git.openpilot.org/changelog/OpenPilot

Package: <NAME>
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qml-module-qtquick-controls, qml-module-qtquick-dialogs, qml-module-qtquick-xmllistmodel, qml-module-qtquick-localstorage, qml-module-qtquick-particles2, qml-module-qtquick-window2, qml-module-qtquick2
Description: Platform for aerial robotics or other mobile vehicular platforms
 OpenPilot is a next-generation Open Source UAV autopilot created by the 
 OpenPilot Community (an all volunteer non-profit community). It is a highly 
 capable platform for multirotors, helicopters, fixed wing aircraft, and
 other vehicles. 
 .
 It has been designed from the ground up by a community of passionate 
 developers from around the globe, with its core design principles being
 quality, safety, and ease of use.  Simplicity does not come with any
 compromises either: with no hard-coded settings, a complete flight plan
 scripting language and other powerful features, OpenPilot is an extremely
 capable UAV autopilot platform.
