#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@ 

# Disabled because OpenPilot makefile cleans and builds.
override_dh_auto_clean:
	#$(MAKE) all_clean

override_dh_auto_build:
	#dh_auto_build -- all

override_dh_auto_test:
	# Fails non-silently because it is run under fakeroot.

override_dh_auto_install:
	dh_auto_install -- prefix=/usr install_qt
