#
# All make includes should have LF line endings to be consistent with flight code
#

*.mk		text eol=lf
*.py		text eol=lf
*.sh		text eol=lf

/doxygen/*.cfg				text eol=lf
/templates/firmware_info.c.template 	text eol=lf
/templates/gcs_version_info.h.template	text eol=crlf
/templates/*.txt			text eol=crlf
/uncrustify/*.cfg			text eol=lf
