<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="C5857D7A-D0D7-4EF7-87CC-16E8CCA618CE" Name="OpenPilot GCS" Language="1033" Version="0.0.0.1" Manufacturer="OpenPilot" UpgradeCode="C72FD8FA-A9FD-483C-890E-A2FDB6C8025F">
        <Package Description="Test file in a Product" Comments="Simple test" InstallerVersion="200" Compressed="yes" Keywords="Installer OpenPilot" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Name="OpenPilot" Id="INSTALLLOCATION">
                    <Directory Id="bin" Name="bin">
                        <?include bin.wxi ?>
                    </Directory>
                    <Directory Id="lib" Name="lib">
                        <Directory Id="openpilotgcs" Name="openpilotgcs">
                            <Directory Id="plugins" Name="plugins">
                                <?include plugins.wxi ?>
                            </Directory>
                        </Directory>
                    </Directory>
                    <Directory Id="share" Name="share">
                        <Directory Id="openpilotgcs_1" Name="openpilotgcs">
                            <Directory Id="diagrams" Name="diagrams">
                                <Directory Id="default" Name="default">
                                    <Component Id="system_health.svg" DiskId="1" Guid="AF4E2022-875C-4EAF-9C82-351E0917E0B7">
                                        <File Id="system_health.svg" Name="system-health.svg" Source="..\..\share\openpilotgcs\diagrams\default\system-health.svg" />
                                    </Component>
                                </Directory>
                            </Directory>
                            <Directory Id="dials" Name="dials">
                                <?include dials.wxi ?>
                            </Directory>
                            <Directory Id="mapicons" Name="mapicons">
                                <Component Id="easystar.png" DiskId="1" Guid="5990DBA8-9661-42E7-9EA0-EF5ED2BAFE1F">
                                    <File Id="easystar.png" Name="easystar.png" Source="..\..\share\openpilotgcs\mapicons\easystar.png" />
                                </Component>
                                <Component Id="quad.png" DiskId="1" Guid="86580CD7-6553-4066-99A6-F3A9D44A8C9E">
                                    <File Id="quad.png" Name="quad.png" Source="..\..\share\openpilotgcs\mapicons\quad.png" />
                                </Component>
                            </Directory>
                            <Directory Id="models" Name="models">
                                <?include models.wxi ?>
                            </Directory>
                            <Directory Id="pfd" Name="pfd">
                                <Directory Id="default_2" Name="default">
                                    <Component Id="pfd.svg" DiskId="1" Guid="23CA1224-C973-4843-9473-7D6F84387EA5">
                                        <File Id="pfd.svg" Name="pfd.svg" Source="..\..\share\openpilotgcs\pfd\default\pfd.svg" />
                                    </Component>
                                </Directory>
                            </Directory>
                            <Directory Id="sounds" Name="sounds">
                                <Component Id="Complete_sound_set.txt" DiskId="1" Guid="7F442112-B2AF-43BD-9CEA-A175630C3B82">
                                    <File Id="Complete_sound_set.txt" Name="Complete sound set.txt" Source="..\..\share\openpilotgcs\sounds\Complete sound set.txt" />
                                </Component>
                                <Component Id="License.txt" DiskId="1" Guid="9698EBB3-17D4-4F18-8B79-F09A48000A2D">
                                    <File Id="License.txt" Name="License.txt" Source="..\..\share\openpilotgcs\sounds\License.txt" />
                                </Component>
                                <?include sounds.wxi ?>
                            </Directory>
                            <Directory Id="translations" Name="translations">
                                <Component Id="openpilotgcs_de.qm" DiskId="1" Guid="CDD0D1D4-4750-4916-9E8C-3A68AD9C33EB">
                                    <File Id="openpilotgcs_de.qm" Name="openpilotgcs_de.qm" Source="..\..\share\openpilotgcs\translations\openpilotgcs_de.qm" />
                                </Component>
                                <Component Id="openpilotgcs_es.qm" DiskId="1" Guid="B67708FA-7F84-4711-976F-8C90CE18769C">
                                    <File Id="openpilotgcs_es.qm" Name="openpilotgcs_es.qm" Source="..\..\share\openpilotgcs\translations\openpilotgcs_es.qm" />
                                </Component>
                                <Component Id="openpilotgcs_fr.qm" DiskId="1" Guid="715F0768-8D9B-4919-8438-00F1689DFB3B">
                                    <File Id="openpilotgcs_fr.qm" Name="openpilotgcs_fr.qm" Source="..\..\share\openpilotgcs\translations\openpilotgcs_fr.qm" />
                                </Component>
                                <Component Id="openpilotgcs_ru.qm" DiskId="1" Guid="D207314F-8A91-46EC-81B5-C3A61B60BF98">
                                    <File Id="openpilotgcs_ru.qm" Name="openpilotgcs_ru.qm" Source="..\..\share\openpilotgcs\translations\openpilotgcs_ru.qm" />
                                </Component>
                                <Component Id="openpilotgcs_zh_CN.qm" DiskId="1" Guid="FA77BEF6-9F5B-49EE-B24F-7F15D51C82EC">
                                    <File Id="openpilotgcs_zh_CN.qm" Name="openpilotgcs_zh_CN.qm" Source="..\..\share\openpilotgcs\translations\openpilotgcs_zh_CN.qm" />
                                </Component>
                                <Component Id="qt_de.qm" DiskId="1" Guid="0DF8B05F-39CE-49E3-9978-924D3E8D2746">
                                    <File Id="qt_de.qm" Name="qt_de.qm" Source="..\..\share\openpilotgcs\translations\qt_de.qm" />
                                </Component>
                                <Component Id="qt_es.qm" DiskId="1" Guid="2734BCFD-BD32-4D94-907F-588E4BBB94E6">
                                    <File Id="qt_es.qm" Name="qt_es.qm" Source="..\..\share\openpilotgcs\translations\qt_es.qm" />
                                </Component>
                                <Component Id="qt_fr.qm" DiskId="1" Guid="A69BD98D-3A3F-42DD-A9E7-4738D0F85AB1">
                                    <File Id="qt_fr.qm" Name="qt_fr.qm" Source="..\..\share\openpilotgcs\translations\qt_fr.qm" />
                                </Component>
                                <Component Id="qt_ru.qm" DiskId="1" Guid="706B6F8C-2C50-4C7A-BFF7-1756D24F411D">
                                    <File Id="qt_ru.qm" Name="qt_ru.qm" Source="..\..\share\openpilotgcs\translations\qt_ru.qm" />
                                </Component>
                                <Component Id="qt_zh_CN.qm" DiskId="1" Guid="106A77BA-A063-4A43-8947-DD7C44A72452">
                                    <File Id="qt_zh_CN.qm" Name="qt_zh_CN.qm" Source="..\..\share\openpilotgcs\translations\qt_zh_CN.qm" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="OpenPilot">
                    <Component Id="StartMenuShortcuts" Guid="29F82A41-C87C-4FE0-A1F2-EE6161AB918A">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                        <util:InternetShortcut Id="WebsiteShortcut" Name="OpenPilot Site" Target="http://openpilot.org" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="AppDataFolder">
                <Directory Id="DefaultSettings" Name="OpenPilot">
                    
                    <Component Id="OpenPilotGCS.db" DiskId="1" Guid="8AEE7FF5-ABC0-4C0B-B17E-7E671B2A127E">
                        <RemoveFolder Id="DefaultSettings" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\OpenPilotGCSdb" Type="string" Value="OpenPilotGCS.db" />
                        <File Id="OpenPilotGCS.db" Name="OpenPilotGCS.db" Source="DefaultSettings\OpenPilotGCS.db" />
                    </Component>
                    <Component Id="OpenPilotGCS.ini" DiskId="1" Guid="EF02D380-C484-49ED-AE31-01410AB68ACA">
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\OpenPilotGCSini" Type="string" Value="OpenPilotGCS.ini" />
                        <File Id="OpenPilotGCS.ini" Name="OpenPilotGCS.ini" Source="DefaultSettings\OpenPilotGCS.ini" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="OpenPilotGCS.db" />
            <ComponentRef Id="OpenPilotGCS.ini" />
            <ComponentRef Id="Aggregation.dll" />
            <ComponentRef Id="ExtensionSystem.dll" />
            <ComponentRef Id="GLC_lib.dll" />
            <ComponentRef Id="libgcc_s_dw2_1.dll" />
            <ComponentRef Id="mingwm10.dll" />
            <ComponentRef Id="openpilotgcs.exe" />
            <ComponentRef Id="opmapwidget.dll" />
            <ComponentRef Id="phonon4.dll" />
            <ComponentRef Id="QExtSerialPort.dll" />
            <ComponentRef Id="qgif4.dll" />
            <ComponentRef Id="qico4.dll" />
            <ComponentRef Id="qjpeg4.dll" />
            <ComponentRef Id="qmng4.dll" />
            <ComponentRef Id="qsvg4.dll" />
            <ComponentRef Id="qsvgicon4.dll" />
            <ComponentRef Id="QtConcurrent.dll" />
            <ComponentRef Id="QtCore4.dll" />
            <ComponentRef Id="QtGui4.dll" />
            <ComponentRef Id="qtiff4.dll" />
            <ComponentRef Id="QtNetwork4.dll" />
            <ComponentRef Id="QtOpenGL4.dll" />
            <ComponentRef Id="QtSql4.dll" />
            <ComponentRef Id="QtSvg4.dll" />
            <ComponentRef Id="QtTest4.dll" />
            <ComponentRef Id="QtXml4.dll" />
            <ComponentRef Id="Qwt.dll" />
            <ComponentRef Id="QxtCore.dll" />
            <ComponentRef Id="QYmodem.dll" />
            <ComponentRef Id="SDL.dll" />
            <ComponentRef Id="sdlgamepad.dll" />
            <ComponentRef Id="Utils.dll" />
            <ComponentRef Id="qsqlite4.dll" />
            <ComponentRef Id="Config.dll" />
            <ComponentRef Id="Config.pluginspec" />
            <ComponentRef Id="Core.dll" />
            <ComponentRef Id="Core.pluginspec" />
            <ComponentRef Id="DialGadget.dll" />
            <ComponentRef Id="DialGadget.pluginspec" />
            <ComponentRef Id="EmptyGadget.dll" />
            <ComponentRef Id="EmptyGadget.pluginspec" />
            <ComponentRef Id="GCSControl.dll" />
            <ComponentRef Id="GCSControl.pluginspec" />
            <ComponentRef Id="GpsDisplayGadget.dll" />
            <ComponentRef Id="GpsDisplayGadget.pluginspec" />
            <ComponentRef Id="HITLNEW.dll" />
            <ComponentRef Id="HITLNEW.pluginspec" />
            <ComponentRef Id="ImportExportGadget.dll" />
            <ComponentRef Id="ImportExportGadget.pluginspec" />
            <ComponentRef Id="IPconnection.dll" />
            <ComponentRef Id="IPconnection.pluginspec" />
            <ComponentRef Id="LineardialGadget.dll" />
            <ComponentRef Id="LineardialGadget.pluginspec" />
            <ComponentRef Id="LoggingGadget.dll" />
            <ComponentRef Id="LoggingGadget.pluginspec" />
            <ComponentRef Id="MagicWaypoint.dll" />
            <ComponentRef Id="MagicWaypoint.pluginspec" />
            <ComponentRef Id="ModelViewGadget.dll" />
            <ComponentRef Id="ModelViewGadget.pluginspec" />
            <ComponentRef Id="NotifyPlugin.dll" />
            <ComponentRef Id="NotifyPlugin.pluginspec" />
            <ComponentRef Id="OPMapGadget.dll" />
            <ComponentRef Id="OPMapGadget.pluginspec" />
            <ComponentRef Id="PFDGadget.dll" />
            <ComponentRef Id="PFDGadget.pluginspec" />
            <ComponentRef Id="RawHID.dll" />
            <ComponentRef Id="RawHID.pluginspec" />
            <ComponentRef Id="ScopeGadget.dll" />
            <ComponentRef Id="ScopeGadget.pluginspec" />
            <ComponentRef Id="Serial.dll" />
            <ComponentRef Id="Serial.pluginspec" />
            <ComponentRef Id="SystemHealthGadget.dll" />
            <ComponentRef Id="SystemHealthGadget.pluginspec" />
            <ComponentRef Id="UAVObjectBrowser.dll" />
            <ComponentRef Id="UAVObjectBrowser.pluginspec" />
            <ComponentRef Id="UAVObjects.dll" />
            <ComponentRef Id="UAVObjects.pluginspec" />
            <ComponentRef Id="UAVTalk.dll" />
            <ComponentRef Id="UAVTalk.pluginspec" />
            <ComponentRef Id="Uploader.dll" />
            <ComponentRef Id="Uploader.pluginspec" />
            <ComponentRef Id="Welcome.dll" />
            <ComponentRef Id="Welcome.pluginspec" />
            <ComponentRef Id="system_health.svg" />
            <ComponentRef Id="altimeter.svg" />
            <ComponentRef Id="arm_status.svg" />
            <ComponentRef Id="attitude.svg" />
            <ComponentRef Id="compass.svg" />
            <ComponentRef Id="flightmode_status.svg" />
            <ComponentRef Id="gps_signal.svg" />
            <ComponentRef Id="gps_status.svg" />
            <ComponentRef Id="lineardial_horizontal.svg" />
            <ComponentRef Id="lineardial_vertical.svg" />
            <ComponentRef Id="Readme.txt" />
            <ComponentRef Id="speed.svg" />
            <ComponentRef Id="textonly.svg" />
            <ComponentRef Id="thermometer.svg" />
            <ComponentRef Id="vsi.svg" />
            <ComponentRef Id="altimeter.svg_1" />
            <ComponentRef Id="compass.svg_1" />
            <ComponentRef Id="speed.svg_1" />
            <ComponentRef Id="vsi.svg_1" />
            <ComponentRef Id="altimeter.svg_2" />
            <ComponentRef Id="attitude.svg_1" />
            <ComponentRef Id="compass.svg_2" />
            <ComponentRef Id="flightmode_status.svg_1" />
            <ComponentRef Id="gps_signal.svg_1" />
            <ComponentRef Id="gps_status.svg_1" />
            <ComponentRef Id="lineardial_horizontal.svg_1" />
            <ComponentRef Id="lineardial_vertical.svg_1" />
            <ComponentRef Id="speed.svg_2" />
            <ComponentRef Id="textonly.svg_1" />
            <ComponentRef Id="thermometer.svg_1" />
            <ComponentRef Id="vsi.svg_2" />
            <ComponentRef Id="easystar.png" />
            <ComponentRef Id="quad.png" />
            <ComponentRef Id="default_background.png" />
            <ComponentRef Id="t_rex_450_xl.3ds" />
            <ComponentRef Id="t_rex_450_xl.jpg" />
            <ComponentRef Id="t_rex_450_xl.wav" />
            <ComponentRef Id="TEXTURE.JPG" />
            <ComponentRef Id="aeroquad.jpg" />
            <ComponentRef Id="aeroquad__.3ds" />
            <ComponentRef Id="TEXTURE.JPG_1" />
            <ComponentRef Id="boards.jpg" />
            <ComponentRef Id="easy_quad_X.3ds" />
            <ComponentRef Id="easy_quad_X.jpg" />
            <ComponentRef Id="logo.jpg" />
            <ComponentRef Id="TEXTURE.JPG_2" />
            <ComponentRef Id="MK_Hexa.3ds" />
            <ComponentRef Id="MK_Hexa.jpg" />
            <ComponentRef Id="MK_L4_ME.3ds" />
            <ComponentRef Id="MK_L4_ME.jpg" />
            <ComponentRef Id="MK_Okto.3ds" />
            <ComponentRef Id="MK_Okto.jpg" />
            <ComponentRef Id="MK_Okto2.3ds" />
            <ComponentRef Id="MK_Okto2.jpg" />
            <ComponentRef Id="TEXTURE.JPG_3" />
            <ComponentRef Id="easystar.3ds" />
            <ComponentRef Id="easystar.jpg" />
            <ComponentRef Id="TEXTURE.JPG_4" />
            <ComponentRef Id="firecracker.3ds" />
            <ComponentRef Id="firecracker.jpg" />
            <ComponentRef Id="TEXTURE.JPG_5" />
            <ComponentRef Id="funjet.3ds" />
            <ComponentRef Id="funjet.jpg" />
            <ComponentRef Id="funjet.wav" />
            <ComponentRef Id="TEXTURE.JPG_6" />
            <ComponentRef Id="pfd.svg" />
            <ComponentRef Id="Complete_sound_set.txt" />
            <ComponentRef Id="License.txt" />
            <ComponentRef Id="_0.wav" />
            <ComponentRef Id="_1.wav" />
            <ComponentRef Id="_10.wav" />
            <ComponentRef Id="_100.wav" />
            <ComponentRef Id="_1000.wav" />
            <ComponentRef Id="_11.wav" />
            <ComponentRef Id="_12.wav" />
            <ComponentRef Id="_13.wav" />
            <ComponentRef Id="_14.wav" />
            <ComponentRef Id="_15.wav" />
            <ComponentRef Id="_16.wav" />
            <ComponentRef Id="_17.wav" />
            <ComponentRef Id="_18.wav" />
            <ComponentRef Id="_19.wav" />
            <ComponentRef Id="_2.wav" />
            <ComponentRef Id="_20.wav" />
            <ComponentRef Id="_3.wav" />
            <ComponentRef Id="_30.wav" />
            <ComponentRef Id="_4.wav" />
            <ComponentRef Id="_40.wav" />
            <ComponentRef Id="_5.wav" />
            <ComponentRef Id="_50.wav" />
            <ComponentRef Id="_6.wav" />
            <ComponentRef Id="_60.wav" />
            <ComponentRef Id="_7.wav" />
            <ComponentRef Id="_70.wav" />
            <ComponentRef Id="_8.wav" />
            <ComponentRef Id="_80.wav" />
            <ComponentRef Id="_9.wav" />
            <ComponentRef Id="_90.wav" />
            <ComponentRef Id="aborted.wav" />
            <ComponentRef Id="active.wav" />
            <ComponentRef Id="alarmsound.wav" />
            <ComponentRef Id="alert.wav" />
            <ComponentRef Id="altitude.wav" />
            <ComponentRef Id="amps.wav" />
            <ComponentRef Id="aquired.wav" />
            <ComponentRef Id="auto_flight.wav" />
            <ComponentRef Id="battery.wav" />
            <ComponentRef Id="beepsound.wav" />
            <ComponentRef Id="camera.wav" />
            <ComponentRef Id="cancelled.wav" />
            <ComponentRef Id="changed.wav" />
            <ComponentRef Id="circle_position.wav" />
            <ComponentRef Id="cleared.wav" />
            <ComponentRef Id="complete.wav" />
            <ComponentRef Id="connected.wav" />
            <ComponentRef Id="connection.wav" />
            <ComponentRef Id="control.wav" />
            <ComponentRef Id="disabled.wav" />
            <ComponentRef Id="disconnected.wav" />
            <ComponentRef Id="feet.wav" />
            <ComponentRef Id="figure_eight.wav" />
            <ComponentRef Id="flight.wav" />
            <ComponentRef Id="geofence.wav" />
            <ComponentRef Id="gps.wav" />
            <ComponentRef Id="ground_station.wav" />
            <ComponentRef Id="heading.wav" />
            <ComponentRef Id="height.wav" />
            <ComponentRef Id="high.wav" />
            <ComponentRef Id="hippodrome.wav" />
            <ComponentRef Id="hold_position.wav" />
            <ComponentRef Id="home_location.wav" />
            <ComponentRef Id="initialised.wav" />
            <ComponentRef Id="initiated.wav" />
            <ComponentRef Id="KPH.wav" />
            <ComponentRef Id="landing.wav" />
            <ComponentRef Id="launch.wav" />
            <ComponentRef Id="left.wav" />
            <ComponentRef Id="logging.wav" />
            <ComponentRef Id="lost.wav" />
            <ComponentRef Id="low_altitude.wav" />
            <ComponentRef Id="low_battery.wav" />
            <ComponentRef Id="low_gps_quality.wav" />
            <ComponentRef Id="manual_flight.wav" />
            <ComponentRef Id="maximum.wav" />
            <ComponentRef Id="meters.wav" />
            <ComponentRef Id="minimum.wav" />
            <ComponentRef Id="mode.wav" />
            <ComponentRef Id="MPH.wav" />
            <ComponentRef Id="navigation.wav" />
            <ComponentRef Id="openpilot.wav" />
            <ComponentRef Id="point.wav" />
            <ComponentRef Id="range.wav" />
            <ComponentRef Id="reached.wav" />
            <ComponentRef Id="ready_for_flight.wav" />
            <ComponentRef Id="return_home.wav" />
            <ComponentRef Id="right.wav" />
            <ComponentRef Id="set.wav" />
            <ComponentRef Id="speed.wav" />
            <ComponentRef Id="stabilization.wav" />
            <ComponentRef Id="started.wav" />
            <ComponentRef Id="stopped.wav" />
            <ComponentRef Id="takeoff.wav" />
            <ComponentRef Id="telemetry.wav" />
            <ComponentRef Id="time.wav" />
            <ComponentRef Id="triggered.wav" />
            <ComponentRef Id="uav.wav" />
            <ComponentRef Id="volts.wav" />
            <ComponentRef Id="warning.wav" />
            <ComponentRef Id="waypoint.wav" />
            <ComponentRef Id="whoopsound.wav" />
            <ComponentRef Id="openpilotgcs_de.qm" />
            <ComponentRef Id="openpilotgcs_es.qm" />
            <ComponentRef Id="openpilotgcs_fr.qm" />
            <ComponentRef Id="openpilotgcs_ru.qm" />
            <ComponentRef Id="openpilotgcs_zh_CN.qm" />
            <ComponentRef Id="qt_de.qm" />
            <ComponentRef Id="qt_es.qm" />
            <ComponentRef Id="qt_fr.qm" />
            <ComponentRef Id="qt_ru.qm" />
            <ComponentRef Id="qt_zh_CN.qm" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
        <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="license\GPLv3_en.rtf" />
        <UI />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION">
        </Property>
        <UIRef Id="WixUI_InstallDir" />
        <Icon Id="DesktopIcon.exe" SourceFile="..\..\bin\openpilotgcs.exe" />
        <Icon Id="StartMenuIcon.exe" SourceFile="..\..\bin\openpilotgcs.exe" />
    </Product>
</Wix>